
<div class="card" [style]="{height: '500px'}">
  <img class="card-img-top" [src]="course?.imageSrc" alt="Card image" [style]="{height: '200px', objectFit: 'cover'}">
  <div class="card-body">
    <h4 class="card-title">{{course?.title}}</h4>
    <p class="card-text">{{course?.description}}</p>
    <br/>
    <i class="text-muted">{{course?.author}}</i>
  </div>
  <div class="card-footer text-muted">
    <a
      class="text-decoration-none link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      (click)="showDetails(course?.id)"
      style="cursor:pointer;"
    >
      Show more...
    </a>
  </div>
</div>
