
<button
  type="submit"
  class="btn btn-success my-3"
  [routerLink]="['/create-post']"
>
  Create Post
</button>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th colspan="5">Body</th>
    <th>User id</th>
  </tr>
  </thead>
  <tbody>
    @for (post of posts; track post.id; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ post.title }}</td>
        <td colspan="5">{{ post.body }}</td>
        <td>{{ post.userId }}</td>
      </tr>
    }
  </tbody>
</table>


